
<div #postItem (click)="onClickPostItem(postItem)" *ngFor="let post of posts" class="flex cursor-pointer post-item flex-col gap-6 mt-4 font-medium shadow-lg px-3 py-3 justify-between">
  <div class="flex justify-between w-full">
    {{ post.title }}
    <p>^</p>

  </div>
  <div class="w-1/4 h-1/4 rounded-sm" *ngIf="post.imagePath && post.imagePath !== ''">
    <img [src]="post.imagePath" [alt]="post.imagePath">

  </div>
  <div class="h-fit">
    <P> {{ post.content }} </P>

  </div>
  <hr class="border-1 border-gray-500">
  <div class="flex gap-5 justify-end h-12">
    <button (click)="onEditPost(post.id)" class="bg-blue-500 rounded-md font-medium px-5 py-2">EDIT</button>
    <button (click)="onDeletePost(post.id)" class="bg-red-500 rounded-md font-medium px-3 py-2">Delete</button>

  </div>

</div>

